* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Press Start 2P", cursive;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.boardContainer {
  width: 70vh;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.board {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.boardItem {
  background-color: transparent;
  height: calc(100% / 3);
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.playerName {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  font-size: 30px;
  color: white;
  text-align: center;
}

.winnerInfo {
  font-size: 30px;
  color: white;
  text-align: center;
}

i {
  font-size: 60px;
  color: white;
}

.newGame {
  font-family: "Press Start 2P", cursive;
  background: none;
  font-size: 20px;
  border: none;
}
